<style type="text/css">
 .strong {
   font-weight: bold;
 }
</style>

<ul>
<% @notifications.each do |n| %>
  <li <% unless n.is_read %>class="strong"<% end %> ><%= link_to n.data, student_path(n) %></li>
<% end %>
</ul>
